USE [master]
GO
/****** Object:  Database [Module4]    Script Date: 11.06.2025 19:58:20 ******/
CREATE DATABASE [Module4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Module4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Module4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Module4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Module4_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Module4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Module4]
GO
/****** Object:  Table [dbo].[Passport]    Script Date: 11.06.2025 19:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Serial] [nvarchar](10) NOT NULL,
	[Number] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Passport] ON 

INSERT [dbo].[Passport] ([ID], [Serial], [Number]) VALUES (1, N'1234', N'567890')
INSERT [dbo].[Passport] ([ID], [Serial], [Number]) VALUES (2, N'4567', N'123456')
INSERT [dbo].[Passport] ([ID], [Serial], [Number]) VALUES (3, N'7890', N'654321')
SET IDENTITY_INSERT [dbo].[Passport] OFF
GO
USE [master]
GO
